<ul class="cul">
    <li class="cli"><input type="button"  id="Jan" value="Janvier" disabled="<%= disabled[1] %>" class="<%= couleur[1] %>"></li>
    <li class="cli"><input type="button"  id="Fev" value="Février" disabled="<%= disabled[2] %>" class="<%= couleur[2] %>"></li>
    <li class="cli"><input type="button"  id="Mars" value="Mars" disabled="<%= disabled[3] %>" class="<%= couleur[3] %>"></li>
    <li class="cli"><input type="button"  id="Avril" value="Avril" disabled="<%= disabled[4] %>" class="<%= couleur[4] %>"></li>
    <li class="cli"><input type="button"  id="Mai" value="Mai" disabled="<%= disabled[5] %>" class="<%= couleur[5] %>"></li>
    <li class="cli"><input type="button"  id="Juin" value="Juin" disabled="<%= disabled[6] %>" class="<%= couleur[6] %>"></li>
    <li class="cli"><input type="button"  id="Juil" value="Juillet" disabled="<%= disabled[7] %>" class="<%= couleur[7] %>"></li>
    <li class="cli"><input type="button"  id="Aou" value="Août" disabled="<%= disabled[8] %>" class="<%= couleur[8] %>"></li>
    <li class="cli"><input type="button"  id="Sep" value="Septembre" disabled="<%= disabled[9] %>" class="<%= couleur[9] %>"></li>
    <li class="cli"><input type="button"  id="Oct" value="Octobre" disabled="<%= disabled[10] %>" class="<%= couleur[10] %>"></li>
    <li class="cli"><input type="button"  id="Nov" value="Novembre" disabled="<%= disabled[11] %>" class="<%= couleur[11] %>"></li>
    <li class="cli"><input type="button"  id="Dec" value="Décembre" disabled="<%= disabled[12] %>" class="<%= couleur[12] %>"></li>
</ul>